
{% extends 'base.html' %}

{% load static %}
{% load utils_tags %}

{% block content %}

<table class="table listing-table bordered mgt20">
    <thead>
        <tr>
            <th class="text-center" width="1%">SN</th>
            <th>Title</th>
            <th>Description</th>
            <th>Blog Image Url</th>
            <th>Author Name</th>
            <th>Author Image Url</th>
            <th>Author Designation</th>
            <th>Reading Time</th>
        </tr>
    </thead>
    <tbody>
        {% for content in lst_content %}
        <tr>
            <td>{{content.id}}</td>
            <td>
                <a href="{% url 'content:view_content' content.id %}" target="_blank">{{content.title}}</a>    
            </td>
            <td>{{content.description}}</td>
            <td>{{content.blog_image_url|truncatechars:15}}</td>
            <td>{{content.author_name}}</td>
            <td>{{content.author_image_url|truncatechars:15}}</td>
            <td>{{content.author_designation}}</td>
            <td>{{content.reading_time}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% include 'controls/_paginator.html' with lst_page=lst_content %}

{% endblock %}