
{% extends 'base.html' %}

{% load static %}
{% load utils_tags %}

{% block title %} List Blog {% endblock %}

{% block content %}
<!-- search form -->
{% with method=method|default:"GET" %}
<form class="row mgt20" method="{{method}}">
    {% if method != 'GET' %}
        {% csrf_token %}
    {% endif %}

    <div class="form-group col-md-3">
        <label>Title</label>
        {{frm.title}}
    </div>

    <div class="form-group col-md-3">
        <label>Author</label>
        {{frm.author_name}}
    </div>

    <div class="col-md-12">
        <button class="btn btn-primary" type="submit" name="go">See Results</button>
    </div>
</form>
{% endwith %}

<table class="table listing-table bordered mgt20">
    <thead>
        <tr>
            <th class="text-center" width="1%">SN</th>
            <th>Title</th>
            <th>Description</th>
            <th>Blog Image Url</th>
            <th>Author Name</th>
            <th>Author Image Url</th>
            <th>Author Designation</th>
            <th>Reading Time</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for content in lst_content %}
        <tr>
            <td>{{content.id}}</td>
            <td>
                <a href="{% url 'content:view_content' content.id %}" target="_blank">{{content.title}}</a>    
            </td>
            <td>{{content.description}}</td>
            <td>{{content.blog_image_url|truncatechars:15}}</td>
            <td>{{content.author_name}}</td>
            <td>{{content.author_image_url|truncatechars:15}}</td>
            <td>{{content.author_designation}}</td>
            <td>{{content.reading_time}}</td>
            <td>
                <a style="font-size: 18px; text-decoration:none;" href="{% url 'content:view_content' content.id %}" data>Edit</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% include 'controls/_paginator.html' with lst_page=lst_content %}

{% endblock %}