{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap stylesheet -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/site.css' %}">
    <!-- custom stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/w8.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/w8-responsive.min.css' %}">
    
    <title>{% block title %}{% endblock %}</title>

    {% block extra_head %}{% endblock %}
</head>
<body>
    <div class="container">
        <!-- nav bar content  -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'content:list_content' %}">PROSHORE</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link nav-item" href="{% url 'content:list_content' %}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link nav-item" href="{% url 'content:save_content' %}">Add Blog +</span></a>
              </ul>
            </div>
          </nav>
        {% block content %}{% endblock %}  
    </div>
    
    <!-- Script files -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script src="{% static 'js/alert.js' %}"></script>

    <!-- ajax utils -->
    <script src="{% static 'js/ajax_utils.js' %}"></script>
    {% block script %}
        
    {% endblock %}
</body>
</html>